:root {
  --base-gap: 12px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.wrapper {
  background-color: #f1ded0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper:after {
  background: #f6e9e0;
  content: "";
  width: 200vh;
  position: fixed;
  left: calc((100vw - 550px) / 4);
  right: 0;
  height: 200vh;
  z-index: 0;
  border-radius: 50%;
}

.app {
  width: 550px;
  background-color: white;
  border-radius: 0.5em;
  overflow: hidden;
  z-index: 1;
}

.nav {
  background: #ffffff;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
  &__logo {
    padding: 22px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 0 calc(var(--base-gap) * 3);
}

.hero__img {
  padding: 26px calc(var(--base-gap) * 3);
  align-self: center;
  min-width: 396px;
}

.hero__title {
  font-size: 0 calc(var(--base-gap) * 3);
  font-size: 36px;
  line-height: 110%;
  margin-bottom: 0;
}

.hero__text {
  color: #222222;
  line-height: 110%;
}

.cards {
  font-size: 12px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: calc(var(--base-gap) * 2);
  margin: calc(var(--base-gap) * 4) calc(var(--base-gap) * 2) 0;
}

.card {
  margin-bottom: calc(var(--base-gap) * 2);
  position: relative;
}

.card__badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.card > div {
  padding-top: 6px;
}

.card__img {
  max-width: 176px;
}

.card__text--light {
  color: #918e9b;
}

.card__text--bold {
  font-weight: bold;
}

.card__star {
  height: 14px;
}
